@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
  margin: 0;
  background-color: #bfd0dd;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex a columna */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 20px;
  margin: 0 0 50px 0;
}

.box {
  margin-bottom: 20px; /* Espacio entre la caja y la imagen */
}

.imagen {
  order: 2; /* Cambia el orden de visualización de la imagen */
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.imagen:hover {
  transform: scale(1.1); /* Escala la imagen al 110% cuando se pasa el cursor sobre ella */
}

.title {
  letter-spacing: 1px;
  color: #071739;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

.sub {
  letter-spacing: 1px;
  color: #071739;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.img-fluid {
  max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row; /* Cambia la dirección del flex a fila */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }

  .imagen {
    order: 1; /* Restablece el orden de visualización de la imagen */
  }
}