@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.header {
  transition: all 0.5s;
  padding: 20px;
  background-color: #bfd0dd;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  display: flex;
  justify-content: space-between; /* Para alinear los elementos a los extremos */
  width: 100%;
  z-index: 999;
}

.header span { /* Para el logo */
  letter-spacing: 1px;
  color: #071739;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.navbar {
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 3px;
  color: #071739;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 25px;
  line-height: 0;
  margin-left: 15px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #D1A980;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #D1A980;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


footer {
  color: #071739;
  text-align: center;
  padding: 1px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.footer-content {
  background-color: #bfd0dd;
  font-size: 13px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%;
  
}

.footer-content p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
