<!-- ======= Footer ======= -->
<footer id="footer">
  &copy; Copyright <strong>Cyber Naranjal City</strong>. Reservados todos los derechos
  <br>
  Diseñado por <b>Steven Nieto</b> y <b>Javier Haro</b></a>
</footer>

<!-- Botón Ir Arriba -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Archivo Vendor JS -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Archivo JS -->
<script src="assets/js/main.js"></script>