<!-- ======= Encabezado ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="" class="img-fluid"></a>
    </div>
<!-- Nab Bar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
        <li><a class="nav-link scrollto" href="#features">Caracteristicas</a></li>
        <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
        <li><a class="getstarted scrollto" href="/login">Iniciar Sesión</a></li>
        <li><a class="getstarted scrollto" href="/exit">Salir</a></li>
      </ul>
    </nav>
  </div>
</header>
