<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="spinner">
          <a href="https://links.codetheworld.io/" target="_blank"><img class="pedro-pedro" src="//codetheworld.io/wp-content/uploads/2024/05/pedro.png"></a>
        </div>
      </div>
    </div>
  </div>