<head>
  <%- include('partials/head') %>
  <title>SGV | 404</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Navigation -->
  <%- include('partials/navbar') %>
  <!-- Error Section -->
  <section id="error" class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Error Message -->
          <div class="error-message">
            <br>
            <br>
            <br>
            <br>
            <h2 class="display-4">404 - PAGE NOT FOUND</h2>
            <p class="lead">Seleccione una ventana válida.</p>
            <div class="col-md-6 offset-md-3"> <!-- Agregado -->
              <a href="https://es.lovepik.com/image-450075348/404-error-and-page-not-found-illustration.html"><img src="/img/404.jpg" alt="Error Image" class="error-image img-fluid"></a> <!-- Modificado -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>
