<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGV</title>
  <link rel="icon" href="/IMG/logo.png" type="image/png">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <section class="container">
    <div class="box">
      <h1 class="title">Una solucion para tu negocio. </h1>
      <h2 class="sub">SGV es un sistema de gestion de ventas que te permitira llevar un control de tus productos, clientes y ventas de manera eficiente.</h2>
    </div>
    <div class="imagen">
      <a href="https://es.lovepik.com/images/png-marketing.html" target="_blank"><img src="../IMG/index.png" class="img-fluid" alt="Credits: lovepik.com"></a>
    </div>
  </section>
</body>
</html>