body{
  margin: 0;
  background-color: #bfd0dd;
  overflow-x: hidden;
}

.container {
  padding: 100px 40px 100px 40px; 
}

.title {
  text-align: center;
  letter-spacing: 1px;
  align-items: center;
  color: #071739;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 20px; /* Espacio inferior entre el título y el subtítulo */
}

.sub {
  text-align: center;
  letter-spacing: 1px;
  align-items: center;
  color: #071739;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}


@media screen and (min-width: 768px) {
  .container {
    flex-direction: row; /* Cambia la dirección del flex a fila */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }

  .imagen {
    order: 1; /* Restablece el orden de visualización de la imagen */
  }
}