<head>
  <%- include('../partials/head') %>
  <title>SGV | Crear Clientes</title>
</head>
<body>
  <%- include('../partials/navbar') %>
  <section id="services" class="services">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="section-title" data-aos="fade-up">
        <h2>INGRESAR CLIIENTES</h2>
        <br>
        <p>Ingrese los datos para registrar un nuevo cliente.</p>
      </div>
      <form method="POST" action="/clients/create" class="card card-body">
        <fieldset>
          <div class="mb-3">
            <label for="dni" class="form-label">DNI:</label>
            <input type="text" class="form-control" id="dni" name="dni" required>
          </div>
          
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
    
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
          </div>
    
          <div class="mb-3">
            <label for="valor" class="form-label">Valor:</label>
            <input type="number" class="form-control" id="valor" name="valor" required>
          </div>
    
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
          <a href="/" class="btn btn-secondary">Cancelar</a>
        </fieldset>
      </form>
    </div>
  </section>
  <script src="/js/validaciones_cliente.js"></script>
  <%- include('../partials/footer') %>
</body>
</html>
